<div class="header">
    <div class="container">
        <a href="." class="link-main-index">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="Logo" class="logo">
        </a>
        <ul class="nav">
            <li><a href="series.html" class="link-main-series">系列鏡框</a></li>
            <li><a href="locations.html" class="link-main-locations">門市據點</a></li>
            <li><a href="blog.html" class="link-main-blog">部落格</a></li>
            <li><a href="faq.html" class="link-main-faq">常見問題</a></li>
        </ul>
    </div>
</div>