<ul class="pagination font-roboto">
  <li>
    <a href="#" class="text prev">上一頁</a>
  </li>
  <li>
    <a href="#" class="number">1</a>
  </li>
  <li>
    <a href="#" class="number active">2</a>
  </li>
  <li>
    <a href="#" class="number">3</a>
  </li>
  <li>
    <a href="#" class="number">4</a>
  </li>
  <li>
    <a href="#" class="number">5</a>
  </li>
  <li>
    <a href="#" class="text next">下一頁</a>
  </li>
</ul>