<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts: Preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Task: Week3: 常見問題</title>
</head>

<body>
  <!-- NoFormat -->
  <%- include('./layout/header'); -%>
  <!-- NoFormat -->

  <h1>常見問題</h1>

  <!-- NoFormat -->
  <%- include('./layout/footer'); -%>
  <!-- NoFormat -->

  <script type="module" src="../src/main.ts"></script>
</body>

</html>