<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts: Preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Task: Week3: 門市據點</title>
</head>

<body>
  <!-- NoFormat -->
  <%- include('./layout/header'); -%>
  <!-- NoFormat -->

  <div class="wrapper wrapper-locations">
    <div class="locations">
      <div class="container">
        <h1 class="title">門市據點</h1>
        <div class="menu">
          <label for="select-location">選擇地區</label>
          <select name="location" id="select-location">
            <option value="">全部</option>
            <option value="TP">台北市</option>
            <option value="TC">台中市</option>
            <option value="KS">高雄市</option>
          </select>
        </div>
        <ul>
          <li class="location location-TP selected">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt="Store 01">
            <div class="text">
              <h2 class="name">台北中山旗艦店</h2>
              <div class="contacts">
                <div class="phone">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(02)000-1234</p>
                </div>
                <div class="time">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </div>
                <div class="address">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：台北市中山區南京東路25巷2-1號</p>
                </div>
              </div>
              <a href="stores.html?store=TP01">詳細資訊</a>
            </div>
          </li>
          <li class="location location-TP selected">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-2.png" alt="Store 02">
            <div class="text">
              <h2 class="name">台北綠園店</h2>
              <div class="contacts">
                <div class="phone">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(02)000-2345</p>
                </div>
                <div class="time">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </div>
                <div class="address">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：台北市中正區復興南路 132-1 號</p>
                </div>
              </div>
              <a href="stores.html?store=TP02">詳細資訊</a>
            </div>
          </li>
          <li class="location location-TC selected">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-3.png" alt="Store 03">
            <div class="text">
              <h2 class="name">台中清水旗艦店</h2>
              <div class="contacts">
                <div class="phone">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(04)000-1234</p>
                </div>
                <div class="time">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </div>
                <div class="address">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                </div>
              </div>
              <a href="stores.html?store=TC01">詳細資訊</a>
            </div>
          </li>
          <li class="location location-KS selected">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-4.png" alt="Store 04">
            <div class="text">
              <h2 class="name">高雄中正形象店</h2>
              <div class="contacts">
                <div class="phone">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(07)000-2345</p>
                </div>
                <div class="time">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </div>
                <div class="address">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                </div>
              </div>
              <a href="stores.html?store=KS01">詳細資訊</a>
            </div>
          </li>
          <li class="location location-KS selected">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-5.png" alt="Store 05">
            <div class="text">
              <h2 class="name">高雄夢時代店</h2>
              <div class="contacts">
                <div class="phone">
                  <span class="material-symbols-outlined">call</span>
                  <p>電話：(07)000-1234</p>
                </div>
                <div class="time">
                  <span class="material-symbols-outlined">schedule</span>
                  <p>營業時間：10:00-21:00</p>
                </div>
                <div class="address">
                  <span class="material-symbols-outlined">location_on</span>
                  <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                </div>
              </div>
              <a href="stores.html?store=KS02">詳細資訊</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- NoFormat -->
  <%- include('./layout/footer'); -%>
  <!-- NoFormat -->

  <script type="module" src="../src/main.ts"></script>
</body>

</html>