<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts: Preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Task: Week3: 情人節特別企劃</title>
</head>

<body>
  <!-- NoFormat -->
  <%- include('./layout/header'); -%>
  <!-- NoFormat -->

  <div class="wrap-post">
    <!-- Navigation Bar -->
    <div class="nav-bar">
      <div class="container">
        <ul class="links">
          <li class="link">
            <a href="#">最新消息</a>
          </li>
          <li class="link">
            <a href="#">特別企劃</a>
          </li>
          <li class="link">
            <a href="#">新品上市</a>
          </li>
          <li class="link">
            <a href="#">鏡框小知識</a>
          </li>
        </ul>
        <div class="search">
          <span class="material-symbols-outlined">search</span>
        </div>
      </div>
    </div>

    <!-- Post -->
     <div class="post">
      <div class="container">
        <div class="path">首頁 / 部落格 / 特別企劃 / <span class="highlight">情人特別企劃</span></div>
        <ul class="tags-preview">
          <li class="tag">
            <a href="#">#special</a>
          </li>
          <li class="tag">
            <a href="#">#event</a>
          </li>
        </ul>
        <div class="post-content">
          <div class="post-main">
            <h1 class="title">情人特別企劃</h1>
            <h2 class="subtitle">2020 Valentine’s Special</h2>
            <ul class="sections">
              <li class="section">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/blogpage-1.png" alt="Post image 01">
                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              </li>
              <li class="section">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/blogpage-2.png" alt="Post image 02">
                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              </li>
              <li class="section">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/blogpage-3.png" alt="Posst image 03">
                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              </li>
              <li class="section">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/blogpage-4.png" alt="Post image 04">
                <p>2/14(五)-2/20(日)<br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br>薄型非球面鏡片折300元<br>濾藍光鏡片折500元<br>快快帶上另一半<br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
              </li>
            </ul>
            <div class="share">
              <h3>Share</h3>
              <a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-facebook.png" alt="Facebook Icon"></a>
              <a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-instagram.png" alt="Instagram Icon"></a>
            </div>
            <hr>
            <ul class="pagination">
              <li class="prev">
                <a href="#"><span class="material-symbols-outlined">arrow_back</span>上一篇：街頭潮人訪問 1</a>
              </li>
              <li  class="next">
                <a href="#">下一篇：街頭潮人訪問 2<span class="material-symbols-outlined">arrow_forward</span></a>
              </li>
            </ul>
          </div>
          <div class="section-tags">
            <h3 class="section-title"><span class="material-symbols-outlined">label</span>TAGS</h3>
            <ul class="tags">
              <li class="tag">
                <a href="#">#special</a>
              </li>
              <li class="tag">
                <a href="#">#sale</a>
              </li>
              <li class="tag">
                <a href="#">#new_item</a>
              </li>
              <li class="tag">
                <a href="#">#interview</a>
              </li>
              <li class="tag">
                <a href="#">#trivia</a>
              </li>
              <li class="tag">
                <a href="#">#news</a>
              </li>
              <li class="tag">
                <a href="#">#event</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </div>

  <!-- NoFormat -->
  <%- include('./layout/footer'); -%>
  <!-- NoFormat -->

  <script type="module" src="../src/main.ts"></script>
</body>

</html>