.wrapper-footer>.footer {
  background-color: $color-primary;
  color: $color-white;

  >.container {
    padding-top: 48px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;

    >.links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      .nav {
        display: flex;
        align-items: center;

        a {
          margin-right: 48px;
        }
      }

      .media {
        display: flex;
        align-items: center;

        a {
          width: 3em;
          margin-left: 32px;
        }

      }
    }

    .contact {
      margin-bottom: 32px;

      a {
        font-size: 36px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        span {
          font-size: 1.333333em;
          margin-right: 16px;
        }

      }
    }

    hr {
      width: 100%;
      margin-bottom: 32px;
    }

    .policies {
      display: flex;
      justify-content: space-between;

      .links>a {
        font-size: 14px;
        margin-left: 48px;
      }
    }
  }
}