.wrapper-blog>.blog>.container {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-sm) {
    padding-top: 16px;
    padding-bottom: 64px;
  }

  >.title {
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid $color-bar-title;
    padding-left: 12px;
    margin-bottom: 32px;

    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  >.posts {
    margin-bottom: 64px;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    >.post {
      margin-left: -12px;
      margin-right: -12px;
      margin-bottom: 60px;
      display: flex;

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        margin-bottom: 24px;
      }

      >* {
        padding-left: 12px;
        padding-right: 12px;
        width: 50%;

        @media (max-width: $breakpoint-sm) {
          width: 100%;
        }
      }

      >img {
        align-self: center;

        @media (max-width: $breakpoint-lg) {
          aspect-ratio: 1.730769230769231;
          object-fit: cover;
        }

        @media (max-width: $breakpoint-sm) {
          aspect-ratio: 1.788461538461538;
          margin-bottom: 8px;
        }
      }

      >.text {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 32px;
          color: $color-primary-dark;

          @media (max-width: $breakpoint-lg) {
            font-size: 24px;
          }

          a:hover {
            filter: none;
            color: $color-primary;
          }
        }

        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;

          @media (max-width: $breakpoint-lg) {
            margin-bottom: 4px;
          }

          .subtitle {
            font-size: 20px;
            font-weight: 500;

            @media (max-width: $breakpoint-lg) {
              font-size: 16px;
            }
          }

          .date {
            color: #000000B3;
          }
        }

        .preview {
          display: flex;
          flex-direction: column;
          height: 100%;

          @media (max-width: $breakpoint-sm) {
            display: none;
          }

          p {
            font-size: 20px;
            color: $color-text-light;
          }

          a.more {
            font-size: 36px;
            font-weight: 900;
            color: $color-primary-dark;
            margin-top: auto;
            margin-left: auto;
          }

          a.more:hover {
            filter: none;
            color: $color-primary;
          }

          @media (max-width: $breakpoint-lg) {
            position: relative;

            p {
              font-size: 16px;
              max-height: 144px;
              overflow: hidden;

              br {
                display: none;
              }
            }

            a.more {
              background-color: $color-white;
              color: $color-text-light;
              font-size: 16px;
              font-weight: normal;
              text-transform: lowercase;
              position: absolute;
              right: 0;
              bottom: 0;
            }

            a.more:hover {
              color: $color-black;
            }

            a.more::before {
              content: "......";
            }
          }
        }
      }
    }
  }
}