.wrapper-faq>.faq>.container {
  padding-top: 96px;
  padding-bottom: 80px;

  @media (max-width: $breakpoint-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  >* {
    max-width: 856px;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid $color-bar-title;
    padding-left: 12px;
    margin-bottom: 32px;

    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: -32px;

    @media (max-width: $breakpoint-sm) {
      margin-bottom: -32px;
    }

    li {
      .question {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .answer {
        margin-bottom: 32px;

        @media (max-width: $breakpoint-sm) {
          margin-bottom: 24px;
        }
      }
    }
  }
}