.wrapper-index {
  >.banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
    background-size: cover;
    background-position: center;
  
    >.container {
      height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      color: $color-primary-dark;
  
      p {
        font-size: 36px;
      }
  
      .slogan {
        font-size: 64px;
        margin-bottom: 4px;
      }
  
      a {
        padding: 6px 12px;
        background-color: $color-primary;
        font-size: 20px;
        color: $color-white;
      }
      a:hover {
        filter: none;
        background-color: $color-primary-dark;
      }
    }
  }
  
  >.features {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  
    >.container {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .title {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 24px;
      }
  
      ul {
        display: flex;
        margin-left: -12px;
        margin-right: -12px;
  
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;
          padding-left: 12px;
          padding-right: 12px;
    
          img {
            max-width: 100px;
            margin-bottom: 16px;
          }
  
          h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 8px;
          }
          
          p {
            color: $color-black;
          }
        }
      }
    }
  }
  
  >.series>.container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
  
    .title {
      align-self: center;
      font-size: 48px;
      font-weight: bold;
      color: $color-primary-dark;
      margin-bottom: 48px;
    }
  
    ul {
      display: flex;
      margin-left: -12px;
      margin-right: -12px;
  
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.333333%;
        padding-left: 12px;
        padding-right: 12px;
  
        img {
          margin-bottom: 8px;
        }
  
        h3 {
          font-size: 48px;
          font-weight: 900;
          font-style: italic;
          color: $color-primary;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }
  
  >.co-branding {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);
    background-size: cover;
    background-position: center;
  
    >.container {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .title {
        font-size: 48px;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 48px;
      }
  
      ul {
        display: flex;
  
        li>h3 {
          background-color: $color-white;
          font-size: 48px;
          font-weight: 900;
          font-style: italic;
          color: $color-primary;
          padding-top: 8px;
          padding-bottom: 8px;
          text-align: center;
          border-left: 1px solid $color-border;
          border-right: 1px solid $color-border;
        }
      }
    }
  }
  
  >.recommends>.container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .title {
      font-size: 48px;
      font-weight: bold;
      color: $color-primary-dark;
      margin-bottom: 48px;
    }
  
    ul {
      display: flex;
      margin-left: -12px;
      margin-right: -12px;
  
      li {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        flex-direction: column;
  
        img {
          border-radius: 4px 4px 0 0;
        }
  
        .text {
          padding: 15px;
          border: 1px solid #DEE2E6;
          box-shadow: 0 2px 6px #00000029;
          display: flex;
          flex-direction: column;
          height: 100%;
  
          .info {
            .name {
              font-weight: 500;
              margin-bottom: 8px;
            }
  
            p {
              min-height: 7.5em;
            }
          }
  
          .date {
            margin-top: auto;
            font-size: 14px;
            color: #707070;
          }
        }
      }
    }
  }
  
  >.feedback {
    background-color: $color-primary-light;
  
    >.container {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 636px;
  
      .title {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary-dark;
        margin-bottom: 48px;
      }
  
      p {
        font-size: 20px;
        margin-bottom: 24px;
      }
  
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
  
        .form-contact {
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;
  
          label {
            margin-bottom: 8px;
          }
  
          input, textarea {
            background-color: inherit;
            border: 1px solid $color-black;
            padding: 5px 11px;
            font-size: 16px;
            line-height: 1.5;
          }
  
          input::placeholder, textarea::placeholder {
            color: #00000033;
          }
        }
  
        .privacy {
          display: flex;
          flex-direction: row-reverse;
          justify-content: start;
          margin-bottom: 48px;
  
          label {
            margin-bottom: 0;
          }
        }
  
        .submit {
          padding: 1em 11em;
          font-family: inherit;
          font-weight: bold;
          font-size: inherit;
          line-height: inherit;
          color: $color-white;
          background-color: $color-primary;
          border: none;
          align-self: center;
          cursor: pointer;
        }
  
        .submit:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }
}