.wrapper-locations>.locations>.container {
  padding-top: 96px;
  padding-bottom: 80px;

  @media (max-width: $breakpoint-sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid $color-bar-title;
    padding-left: 12px;
    margin-bottom: 32px;

    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .menu {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 40px;

    .menu-container {
      display: flex;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
      width: 33.333333%;

      @media (max-width: $breakpoint-lg) {
        width: 100%;
      }

      label {
        font-size: 24px;
        margin-right: 16px;
  
        @media (max-width: $breakpoint-sm) {
          font-size: 16px;
          margin-right: 8px;
        }
      }
  
      select {
        flex-grow: 1;
        font-size: 18px;
        color: #495057C0;
        padding-left: 11px;
        border: 1px solid #CED4DA;
  
        @media (max-width: $breakpoint-lg) {
          max-width: 304px;
        }
  
        @media (max-width: $breakpoint-sm) {
          max-width: none;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -48px;

    @media (max-width: $breakpoint-lg) {
      margin-bottom: -24px;
    }

    li {
      display: none;
    }

    li.selected {
      width: 33.333333%;
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 48px;

      @media (max-width: $breakpoint-lg) {
        width: 50%;
        margin-bottom: 24px;
      }

      @media (max-width: $breakpoint-sm) {
        width: 100%;
      }

      .text {
        display: flex;
        flex-direction: column;
        height: 100%;

        .name {
          font-size: 24px;
          border: 1px solid #00000020;
          padding: 7px 23px;
        }

        .contacts {
          font-size: 20px;
          border: 1px solid #00000020;
          padding: 15px 23px;
          height: 100%;

          >div {
            display: flex;
            margin-bottom: 8px;

            .material-symbols-outlined {
              margin-top: 4px;
              margin-right: 8px;
            }
          }

          >div.address {
            margin-bottom: 0;
          }
        }

        a {
          font-size: 19px;
          color: $color-white;
          text-align: center;
          background-color: $color-black;
          border: 1px solid #00000020;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        a:hover {
          filter: none;
          background-color: $color-primary;
        }
      }
    }
  }
}