.wrapper-series {
  >.selections>.container {
    ul {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        width: 100%;

        a {
          border: 1px solid $color-border;
          padding-top: 23px;
          padding-bottom: 23px;
          width: 100%;
          font-size: 32px;
          font-weight: 500;
          text-align: center;
        }

        a:hover {
          filter: none;
          color: $color-primary;
        }

        a.active {
          padding-bottom: 16px;
          border-bottom: 8px solid $color-primary;
        }
      }
    }
  }

  >.banners>.banner.active {
    display: flex;

    .bg {
      width: 50%;
      aspect-ratio: 3.243243;
      background-size: cover;
      background-position: center;

      @media (max-width: 992px) {
        aspect-ratio: 1.382352941176471;
      }
    }

    .bg1 {
      background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-1.png');

      @media (max-width: 992px) {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png');
      }
    }

    .bg2 {
      background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-2.png');

      @media (max-width: 992px) {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png');
      }
    }

    .bg3 {
      background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-3.png');

      @media (max-width: 992px) {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-3.png');
      }
    }

    .bg4 {
      background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-4.png');

      @media (max-width: 992px) {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-4.png');
      }
    }

    .bg5 {
      background-color: #5F3E2D20;
    }

    .bg6 {
      background-color: #B7592920;
    }
  }

  >.items {
    display: none;
  }

  >.items.active {
    display: block;

    >.container {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 42px;
        font-weight: 500;
      }

      .subtitle {
        font-size: 32px;
        margin-bottom: 32px;
      }

      >ul.items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;

        @media (max-width: 992px) {
          margin-bottom: 40px;
        }

        li {
          display: flex;
          flex-direction: column;
          width: 25%;
          padding-left: 12px;
          padding-right: 12px;
          margin-bottom: 80px;

          @media (max-width: 992px) {
            width: 50%;
            margin-bottom: 40px;
          }

          .text {
            display: flex;
            justify-content: space-between;

            p {
              font-size: 24px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            p.price {
              font-weight: 500;
              color: $color-primary;
            }
          }

          .colors {
            display: flex;

            .color {
              width: 1.5em;
              aspect-ratio: 1;
              border-radius: 4px;
              margin-right: 8px;
            }

            .color1 {
              background-color: $color-glasses-dark;
            }

            .color2 {
              background-color: $color-glasses-light;
            }
          }
        }
      }
    }
  }

  >.items.active.items-sunglasses>.container>ul.items>li {
    width: 33.333333%;

    @media (max-width: 992px) {
      width: 50%;
    }
  }

  >.items.active.items-functional>.container>ul.items>li {
    width: 33.333333%;

    @media (max-width: 992px) {
      width: 50%;
    }
  }
}